<div class="container mt-5">
    <div class="row">
        <div class="card p-0">
            <div class="card-title bg-dark text-white">
                <h3>Crear Empleados</h3>
            </div>
            <div class="card-body">
                <div class="col-lg-6 offset-3">
                    <form action="">
                        <div class="mb-3">
                            <input type="text" name="nombre" id="nombre" placeholder="Ingrese Nombre">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="Apellidos" id="Apellidos" placeholder="Ingrese Apellidos">
                        </div>
                        <div class="mb-3">
                            <input type="number" name="Documento" id="Documento" placeholder="Ingrese Documento">
                        </div>
                        <div class="mb-3">
                            <input type="number" name="Salario" id="Salario" placeholder="Ingrese Salario">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary float-star" routerLink="/list-employee">Volver</button>
                            <button type="submit" class="btn btn-primary float-end">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
