<div class="container mt-4">
    <div class="row">
        <div class="card p-0">
            <div class="card-title bg-dark text-white p-1">
                <h3>List Employees</h3>
            </div>
            <div class="card-body">
                <button class="btn btn-success float-end" routerLink="/create-employee">Agregar</button>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Salario</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            
                            <td>Richard</td>
                            <td>Betancur</td>
                            <td>25825245</td>
                            <td>2500</td>
                            <td><a class="btn btn-info btn-sm mr-5">Editar</a>
                               &nbsp;<a href="" class="btn btn-danger btn-sm mr-5 ">Eliminar</a></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <ul>
                  <li class="text" class="text" *ngFor="let item of items | async">
                    {{item.name}}
                  </li>
                </ul>
            </div>
        </div>
    </div>
</div>
